/* button{
    background-color: red;
    color: white;
}

.text{
    color: blue;
    font-size: 40px;
}

.para{
    font-family: Arial, Helvetica, sans-serif;
    font-style: oblique;
}
 */
 body{
    display: flex;
    justify-content: center;
    align-items: center;
 }

/* .toggle-btn {
    padding: 10px 25px;
    border: none;
    border-radius: 20px;
    background-color: gray;
    color: white;
    font-size: 16px;
    cursor: pointer;
    transition: 0.3s;
}
/*  */




/* .toggle-btn.active {
    background-color: green;
} */ 

/* .switch {
 position: relative;
  display: inline-block;
  width: 60px;
  height: 34px;
} */
/* 
.switch input { 
  opacity: 0;
  width: 0;
  height: 0;
} */

/* .slider {
  position: absolute;
  cursor: pointer;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: #ccc;
  -webkit-transition: .4s;
  transition: .4s;
} */

/* .slider:before {
  position: absolute;
  content: "";
  height: 26px;
  width: 26px;
  left: 4px;
  bottom: 4px;
  background-color: white;
  -webkit-transition: .4s;
  transition: .4s;
} */
/* 
input:checked + .slider {
  background-color: #2196F3;
}

input:focus + .slider {
  box-shadow: 0 0 1px #2196F3;
} */
/* 
input:checked + .slider:before {
  -webkit-transform: translateX(26px);
  -ms-transform: translateX(26px);
  transform: translateX(26px);
}
.slider.round {
  border-radius: 34px;
}

.slider.round:before {
  border-radius: 50%;
} */


/* Light mode (default) */
body {
    background-color: white;
    color: black;
    font-family: Arial, sans-serif;
    transition: 0.3s;
}

/* Dark mode class */
.dark {
    background-color: #121212;
    color: white;
}

#modeBtn {
    padding: 10px 20px;
    cursor: pointer;
    border: none;
    border-radius: 5px;
    background-color: black;
    color: white;
}




